*{

    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul{

    margin: 0;
    padding: 0;
}

header{

    background-image: url(../images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    

}

header::before{

content: '';
position: absolute;
width: 100%;
height: 100%;
background: #333437;
opacity: .5;
z-index: -1;


}

.main-header{

    background-color: #00000052;


}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
    position: relative;
}

.navbar-nav .nav-link:hover {
   color: #f39c12;
}


.navbar-nav .nav-link::before{
content: '';
position: absolute;
width: 0%;
height: 0px;
background: #f39c12;
bottom: -12px;
transition: .4s all ease-in-out;

}


.navbar-nav .nav-link:hover:before{
    width: 90%;
    height: 2px;
}

.search{
position: relative;

}

.search input{
width: 100%;
padding: 5px;
border: none;
border: 1px solid gray;
}

.search input:focus{
outline: none;
    
    }
.search button{
position: absolute;
width: 36px;
height: 36px;
background: none;
border: none;
background: #f39c12;
display: flex;
justify-content: center;
align-items: center;
right: 0;
top: 0;
}

.dropdown-menu[data-bs-popper] {
    top: 106%;
    left: 82%;
    margin-top: 0.125rem;
}

.heigh{

    height: 92vh;
}

.header-content{

  /* z-index: 2;  */

}

.header-content h2{
    color: #f99900;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 300;
}

.header-content h1{

color: #fff;

text-transform: uppercase;
}

.button{
    text-align: center;
    margin-top: 90px;
}


.height{

    height: 91vh;
}


.btn-started{

color: #fff;

border: 1px solid #fff;

padding: 0;

padding: 8px 15px;

text-transform: uppercase;
}

.btn-portfolio{

color: #fff;

border: none;

background: #f99900;

padding: 0;

padding: 8px 15px;

margin-left: 15px;
}

.btn:hover {
    color: #fff;
}

header .owl-stage{
height: 90vh;
display: flex;
justify-content: center;
align-items: center;

}

header .owl-prev{

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #211812!important;
    color: #fff!important;
}

header .owl-next{

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #211812!important;
    color: #fff!important;
}

.about-section{

padding: 50px 0;
}

.about-section img{

    
}


.about-section h1{

text-align: center;

font-size: 30px;

font-weight: 700;
margin-bottom:  20px;
}

.about-section .role{

display: block;

width: 45%;
height: 1px;

background: #f99900;

margin: auto;
position: relative;
}

.about-section .role::before{

content: '';
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 10%;
height: 5px;
background: #f39c12;
animation: updown 1s infinite linear;
animation-direction: alternate;
}

@keyframes updown{
    0%{
    left: 0%;
    
    }
    
    100%{
        
    left: 100%;
    
    }
}

.about-section p{
    
color: #686767;
font-size: 14px;
margin-top: 20px;
    
}

.progress-bar {

    background-color: #f99900;
    
}

.single-bar{

    width: 95%;
    position: relative;
}


.count-number{
    width: 60px;
    height: 40px;
    background: #f99900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.count-number::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #f99900;
    left: -10%;
    top: 30%;
    transform: rotate(45deg);
}

.count-number p{

color: #fff;
font-weight: 500;
font-size: 18px;
    
}

.progress{

    width: 80%;
}

.items{

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.single-bar h3{

    color: #383838;
    font-size: 27px;
}

.services-section h1{

color: #383838;

text-transform: uppercase;

font-size: 30px;

font-weight: bold;

margin-bottom: 20px;
}

.services-section .role-1{

display: block;

width: 35%;
height: 1px;

background: #f99900;

margin: auto;
position: relative;
}

.services-section .role-1::before{

    content: '';
    position: absolute;
    width: 15%;
    height: 5px;
    background: #f99900;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: updown 1s infinite linear;
    animation-direction: alternate;

}

.services-section {


}

.services-section .box {

box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
padding: 12px;
position: relative;
/* width: 187px; */

}

.services-section .box:hover {

    background: #f99900;


}

.services-section .box::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 36px solid transparent;
    border-right-color: #fff;
    left: -36px;
    transform: rotate(45deg);
    top: -17%;
    transition: .4s all ease-in-out;
    opacity: 0;
}

.services-section .box:hover::before{

    opacity: 1;

}

.services-section .box::after{

content: '';
position: absolute;
width: 20px;
height: 20px;
border-left: 1px solid #f99900;
border-top: 1px solid #f99900;
left: 0%;
top: -1%;
transform: rotate(1deg);
transition: .4s all ease-in-out;
opacity: 0;
}

.services-section .box:hover:after{
    opacity: 1;


}
.services-section .icon{
width: 50px;
height: 50px;
background: #919190;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
margin-bottom: 20px;
color: #fff;
font-size: 20px;
}

.services-section .box:hover .icon{

    background: #fff;
    color: #f99900;
}

.services-section h5{

    margin-bottom: 20px;
    color: #6e6e6e;
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
}


.services-section p{

    color: #6b6b6b;
    font-size: 14px;
    
}

.services-section .box:hover h5{

color: #fff;

}

.services-section .box:hover p{

    color: #fff;
    
    }

.statistic-section{

    background-image: url(../images/black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;


}

.statistic-section h1{

color: #fff;

text-transform: uppercase;

font-size: 30px;

font-weight: bold;

margin-bottom: 20px;
}

.statistic-section .role-2{

display: block;
width: 35%;
height: 1px;
background: #f99900;
position: relative;
margin: auto;
}

.statistic-section .role-2::before{

    content: '';
    position: absolute;
    width: 10%;
    height: 5px;
    background: #f99900;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: updown 1s infinite linear;
    animation-direction: alternate;

}


.statistic-section h2{

color: #fff;

font-size: 30px;

margin-bottom: 20px;
}


.statistic-section .icon-1{
color: #f39c12;
font-size: 22px;
width: 55px;
height: 55px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
border-radius: 50%;
margin-bottom: 20px;
position: relative;
}
.statistic-section .role-3{

}

.statistic-section h5{

color: #fff;

font-size: 18px;
}


.role-5{

    position: relative;

}

.role-5::before{
    content: '';
    position: absolute;
    width: 71%;
    height: 2px;
    background: #fff;
    top: 53%;
    transform: translatey(-50%);
    left: 15%;
    transition: .4s all ease-in-out;
    opacity: 0;
} 

.role-5:hover::before{

    opacity: 1;
}

.my-work h1{

font-size: 30px;
text-transform: uppercase;
font-weight: bold;
margin-bottom: 20px;
}

.my-work .role-6{

 display: block;
width: 35%;
height: 1px;
background: #f99900;
position: relative;
margin: auto;
}

.my-work .role-6::before{

    content: '';
    position: absolute;
    width: 10%;
    height: 5px;
    background: #f99900;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: updown 1s infinite linear;
    animation-direction: alternate;
}

.my-work ul{

list-style: none;

display: flex;

justify-content: center;

align-items: center;
}

.my-work ul li{
padding: 0 15px;
}

.my-work ul li a{
text-decoration: none;
color: black;
font-size: 20px;
transition: .4s all ease-in-out;
}

.my-work ul li a:hover{
    background: #f99900;
    padding: 10px;
    color: #fff;
    width: 40px;
    height: 40px
}

.my-work .photo-work{

    position: relative;
    z-index: 0;

}

.my-work .photo-work::before{

    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000052;
    z-index: -1;
    
}

.photo-work{

    position: relative;

}

.photo-work .icon{
    position: absolute;
    left: 86%;
    top: 20px;
    color: #fff;
    width: 35px;
    height: 35px;
    background: #f99900;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .4s all ease-in-out;
}

.photo-work:hover .icon{

    opacity: 1;
}

.photo-work .text{

position: absolute;

bottom: 0;

color: #fff;

left: 0;

width: 100%;

background: #232323;

height: 18%;

padding: 5px;

opacity: 0;

transition: .4s all ease-in-out;

transform: translateY(0);
}

.photo-work:hover .text{

    opacity: 1;
}


.photo-work h3{

font-size: 16px;

margin-left: 15px;
}

.photo-work p{

margin-left: 15px;

font-size: 14px;
}

.photo-work2{

    position: relative;

}

.photo-work2 .icon2{

    position: absolute;
    left: 82%;
    top: 20px;
    color: #fff;
    width: 30px;
    height: 30px;
    background: #f99900;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .4s all ease-in-out;

}

.photo-work2 .text2{

position: absolute;

bottom: 0;

color: #fff;

left: 0;

width: 100%;

background: #232323;

height: 23%;

padding: 5px;

opacity: 0;

transition: .4s all ease-in-out;

transform: translateY(0);
}

.photo-work2 h3{

font-size: 14px;

margin-left: 15px;
}

.photo-work2  p{

margin-left: 13px;

font-size: 14px;
}

.photo-work2:hover .icon2{

    opacity: 1;
}

.photo-work2:hover .text2{

    opacity: 1;
}

.recent-story {

    padding: 50px 0;

}


.recent-story h1{

margin-bottom: 20px;

font-size: 26px;

font-weight: bold;
}

.recent-story .role-7{

display: block;
width: 45%;
height: 1px;
background: #f99900;
margin: auto;
position: relative;
}

.recent-story .role-7::before{

    content: '';
    position: absolute;
    width: 10%;
    height: 5px;
    background: #f99900;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: updown 1s infinite linear;
    animation-direction: alternate;
    
}

.recent-story .box2{

/* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 36px 24px; */

width: 178px;
}

.recent-story h6{

color: #7e7d7d;

margin-bottom: 10px;
}

.recent-story h2{

font-size: 20px;

color: #f39c12;

margin-bottom: 30px;
}

.recent-story p{
color: #858282;
font-size: 14px;
margin-bottom: 30px;
}

.btn-action{
    padding: 0;
    background: #282828;
    color: #fff;
    padding: 5px 15px;
}

.btn-action:hover{
    background: #aaaaaa;
}

.item-carousel{height: 70vh;display: flex;align-items: center;justify-content: center;}

.recent-story .img-items{

width: 240px;
}

.owl-dots {
    display: block;
    text-align: center;
}

.owl-dots .owl-dot span{

    display: block;
    width: 10px;
    height: 10px;
    background: #b7b7b7;
    border-radius: 50%;
    margin: 5px;


}

.owl-dots .active span{

    width: 12px;
    height: 12px;
    background: #414141;
}

.changing-story{

background: #262626;

min-height: 89vh;
}

.changing-story .img-story{
    margin-top: 20px;
}

.changing-story .role-8{

display: block;

width: 100%;

height: 1px;

background: #f99900;

position: relative;
}

.changing-story .role-8::before{

content: '';
position: absolute;
width: 10%;
height: 5px;
background: #f99900;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
animation: updown 1s infinite linear;
animation-direction: alternate;


}

.changing-story .text-items{

    margin-top: 25%;
    
}

.changing-story .text-items h1{

color: #fff;

font-size: 30px;

font-weight: bold;

margin-bottom: 20px;
}


.changing-story .text-items p{

color: #fff;

font-size: 14px;
}

.margin{

    margin-top: 60px;
}


.client-back {

    padding: 100px 0;

}


.client-back h1{

font-size: 25px;

text-transform: uppercase;

margin-bottom: 20px;
}

.client-back .role-9{
  
display: block;
width: 40%;
height: 1px;
background: #f99900;
position: relative;
margin: auto;

}

.client-back .role-9::before{

content: '';
position: absolute;
width: 10%;
height: 5px;
background: #f99900;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
animation: updown 1s infinite linear;
animation-direction: alternate;

}

.client-back .client-text{

background: #f6f6f6;

padding: 5px 10px;

width: 366px;

margin-bottom: 20px;
}


.client-back .client-text h4{

color: #696868;

font-size: 15px;

margin-bottom: 10px;
}

.client-back .client-text p{

color: #838282;

font-size: 14px;

font-style: italic;

margin-bottom: 20px;
}

.client-all{

display: flex;

justify-content: space-between;

align-items: center;
}

.client-img{

width: 150px;
}

.client-details{

width: 567px;

margin-left: 20px;
}

.client-details h5{

font-size: 13px;

text-transform: capitalize;

color: #f99900;
}

.client-details h6{

color: #838282;

font-size: 12px;

font-weight: normal;

font-style: italic;

margin-top: 5px;
}


.feedback-carousel{

    min-height: 73vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-tweet{

background-image: url(../images/pakhi.png);

background-position: center;

background-repeat: no-repeat;

background-size: cover;

min-height: 50vh;

position: relative;

z-index: 0;

display: flex;

justify-content: center;

align-items: center;
}

.latest-tweet::before{

content: '';

position: absolute;

width: 100%;

height: 100%;

background: #00000085;
z-index: -1;
}

.latest-tweet h1{

color: #fff;

text-transform: uppercase;

font-size: 30px;

margin-bottom: 20px;
}

.latest-tweet .role-10{

display: block;
width: 40%;
height: 1px;
background: #f99900;
position: relative;
margin: auto;
    
}

.latest-tweet .role-10::before{

content: '';
position: absolute;
width: 10%;
height: 5px;
background: #f99900;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
animation: updown 1s infinite linear;
animation-direction: alternate;


}

.latest-tweet p{

color: #fff;

font-size: 20px;

font-weight: normal;

margin-top: 50px;
}

.latest-tweet p span{

color: #f99900;
}

.feed-text{
}

.get-touch .name{
}

.get-touch .name form{


}

.get-touch .name form input{

width: 99%;

border: none;

border-bottom: 1px solid gray;

padding: 18px;
}

.get-touch .name form input:focus{

    outline: none;
}

.get-touch .subject form input{

width: 90%;

border: none;

border-bottom: 1px solid gray;

padding: 18px;
}

.get-touch .subject form input:focus{

    outline: none;
}

.get-touch .subject form{


}

.feed-text form textarea{


}

input[type="submit"]{

padding: 8px 15px;

/* width: 18%; */

float: left;

background: #f99900;

border: navajowhite;

margin-top: 20px;

color: #fff;

text-transform: uppercase;
}

.get-touch .disk{

display: flex;

justify-content: center;

align-items: center;
}

textarea {
    resize: vertical;
    width: 99%;
    height: 159px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid gray;
}

textarea:focus{

    outline: none;
}

.get-touch h1{

text-transform: uppercase;

font-size: 30px;

font-weight: bold;

margin-bottom: 20px;
}

.get-touch p{

font-size: 16px;

margin-top: 20px;
}


.get-touch .role-11{

display: block;
width: 40%;
height: 1px;
background: #f99900;
position: relative;
margin: auto;

}

.get-touch .role-11::before{

content: '';
position: absolute;
width: 10%;
height: 5px;
background: #f99900;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
animation: updown 1s infinite linear;
animation-direction: alternate;

}

.map-section{
    padding: 100px 0;
}


iframe{

    width: 100%;
}

.map-all{

    position: relative;
}

.map-text{

width: 239px;

background: #f0a93ae8;

padding: 20px;

position: absolute;

left: 72%;

top: 50%;

transform: translate(-50%, -50%);
}

.map-text p{

color: #fff;

font-size: 15px;
}

address{

color: #fff;

font-size: 15px;
}

.follow-me{

padding: 100px 0;
}

.follow-me h1{
    
font-size: 30px;
    
text-transform: uppercase;
    
font-weight: bold;
    
margin-bottom: 20px;
}

.follow-me .role-12{
    
    display: block;
    width: 40%;
    height: 1px;
    background: #f99900;
    position: relative;
    margin: auto;
    

    
}


.follow-me .role-12::before{
    
    content: '';
    position: absolute;
    width: 10%;
    height: 5px;
    background: #f99900;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: updown 1s infinite linear;
    animation-direction: alternate;

    
}

.follow-me ul{

list-style: none;

display: flex;

justify-content: center;

align-items: center;
}

.follow-me ul li{

padding: 5px 10px;

box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

margin-left: 5px;
}

.follow-me ul li:hover{

    background: #f99900;
}

.follow-me ul li a{


}

.follow-me ul li a i{

color: #f99900;

font-size: 20px;
}


.follow-me ul li:hover i{
color: #fff;

}

.copyright{

background: #f39c12;

padding: 20px 0;
}

.copyright p{

font-size: 15px;
}

.copyright span{

color: #fff;
}

